body {
  font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji;
  background-color: #fff;
  color: #333;
}

button:hover {
  border-radius:4px;
  padding:4px;
  border: 1px solid #333;
}

button {
  background-color: transparent;
  border: none;
  margin-top:5px;
  padding:5px;
}

input {
  margin-right:2px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 5px;
}

.author {
  display:flex;
  padding:1px;
  margin-bottom:5px;
  font-size: 12px;
}

.authoravatar {
  transition-duration: 0.2s;
  height:23px;
  width:auto;
}

.authoravatar img {
  height: 100%;
  width:auto;
}

.authorclicked {
  margin-bottom:6px;
}

.authorclicked .authoravatar {
  transition-duration: 0.2s;
  height:150px;
  width:auto;
}

.authorclicked .authorname, .authordate {
  padding:3px 0px 3px 1px;
  font-size: 12px;
}

.authorname, .authordate {
  text-align: center;
  padding:3px 0px 3px 8px;
}

.commit {
  border-radius:5px; 
  border: 1px solid #d1d5da;
  padding:7px;
  margin:6px;
}

.error {
  color:red;
}

.navigationbutton {
  font-size:18px;
}

.userhead {
  margin:8px;
  font-size:25px;
}
